<style>
  html, body {
    margin: 0;
    color: #111920;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  }
  code {
    background-color: #FFB607;
    padding: 2px 3px;
    border-radius: 5px;
  }
</style>

<div style="display: flex; justify-content: center; width: 100vw; height: 100vh; background-image: url(https://nextgen.aptible.com/background-pattern-v2.png);">
  <div style="max-width: 640px; padding: 20px;">
    <h1 style="flex: 1;">Congrats on deploying to Aptible!</h1>

    <p>This is a template that you can modify or remove.</p>
  </div>
</div>
